.section-header .section-title{
    /* font-size: 35px; */
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgb(134, 35, 35);
    text-align: center;
    font-weight: 700;
}

.clear{
    clear: both;
}


.section-header .line{
    display: block;
    width: 50px;
    height: 5px;
    /* background-color: #8a1739; */
    background-color: #8d183d;;
    margin:  0 auto 0 auto;
    /* margin-bottom: 70px; */
}
.pd-y{
    padding:40px 0;  /** بعمل Padding من top و pottom **/
    
}

.carousel-caption {
    width:60%;
    position: absolute;
    /* خرجت العنصر خارج اطار الصفحة  */
    top: 75%;
    /* */
    left:20%;
    /* */
    transform: translate(-10%, -20%);
    /* */
    text-align: center;
    background-color: rgb(148, 134, 134, 0.5);
    padding: 30px;
    border-radius: 3%;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --man-color:#d63384;
}
body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

section,footer,header{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    padding: 60px 0;
    
}

h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Cairo', sans-serif;
}

img{
    max-width: 100%;
}

p{
    line-height: 30px;
}

input{
    box-sizing: border-box;
    border: 5px;
}

ul{
    padding: 0;

}
li{
    list-style: none;
}


.navbar-logo{
    
        width: 20%;
        height: 100px;
        float: left;
        text-align: center;
    
    
}
a{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

/**********************************************/

.header-top{
    background: #8d183d;
    padding: 5px 0;
    margin: 0;
}

.header-top ul li{
    display:inline-block;
    margin: 5px;
}

.header-top ul li a{
    color: #fff;
    text-decoration: none;
}

.header-phon{
   /* border-left: 1px solid #ffff;  */
   /* color: #fff; */
   font-weight: bold;
}

.header-top ul:last-of-type li{
    border-right: 1px solid #fff;
}

.header-top button:last-of-type a{
    /* border-right: 1px solid #fff; */
}

.header-top a:hover {
    text-decoration: underline;
}

.header-job button {
    width: 200px;
    height: 40px;
    float: left;
    margin: 5px 20px;
    border-radius: none;
    border: none;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: none;
}

button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;
}
/*********************************************/



.Services{
    background-color: #e9e0e0;
   
}

.Services-item .section-header .line{
    /* margin: 0 0 0 700px; */
    
}

.Services-item .section-title{
        color: rgb(138, 48, 48);
        text-transform: capitalize;
        color: rgb(134, 35, 35);
        padding: 0 25px;

}

.Services-item-des{
    color: #999;
    /* line-height: 1.5; */
    margin-bottom: 15px;
    /* text-align: right; */
    padding-top: 30px;
    /* font-size: 16px; */
    padding-bottom: 20px;
}

.Services-list{
    /* list-style: none; */
}

.Services-list li{
    margin-bottom: 10px;
    color:#999;
    /* text-align: right; */
    /* font-size: 17px; */
}

.Services-list li i{
    border: 1px solid #11C3F5;
    color: #11C3F5;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    text-align: right;
    }
    
    /* .Services-item-img img {
        width: 100%;
    } */
    
    .Services-bollets {
        list-style: none;
        text-align: center;
    }
    
    .Services-bollets li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #6195ff;
        margin: 10px 4px;
        border-radius: 50%;
        font-size: 70px;
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .Services-bollets li.active {
        background-color: #8a1739;
    }
    
    .Services-bollets li:hover {
        background-color: #8a1739;
    }

    /************************************ Header *******************************/

.navbar{
    /* background-color: #8d183d; */
    box-shadow: 1px 2px 5px #e9e0e0;
}

.navbar1{
    /* background-color: #8d183d; */
    background-color: #8a1739;
}

.navbar-nav li {
    /* text-align: right; */
    list-style: none;
    display: inline-block;


}

.navbar-nav .nav-item a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 22px 10px;
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: rgb(134, 35, 35);

}


.navbar-nav li a:hover {
    display: block;
    background-color: rgb(207, 165, 165);
    border-radius: 10px;
    padding: 22px 10px;
}


.sildes{
    background-color: #e9e0e0;
}

/************************************ Min-Header *******************************/

/************************************ Success stories *******************************/

.stories{
    position: relative;
}

.content-stories{
    width: 100%;
}

.stories-text{

    display: block;
    color: rgb(138, 48, 48);  
    text-align: center;  
}

.stories-text .stories-item{

    list-style: none;
    border: 2px solid #8d183d;;
    border-radius: 10px;
   
}



.stories-item .stories-item-title{
    /* text-align: center; */
}

.stories-item-des{
    padding-bottom: 15px;
}

/************************************ Start News *******************************/

.News{
    /* background-color:  #e9e0e0; */
}

.News-item{
    border: 1px solid #fffafa;
    border-radius: 20px;
    text-align: right;
    background-color: #ffffff;
    overflow: hidden;
}

.News-content .News-item.margin{
    margin: 0 5%;
    
}

.News-content .News-title {
    border-right: 5px solid #8a1739;
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 15px;
    font-size: 17px;
    color: rgb(134, 35, 35);
    font-weight: 700;
    
}

.News-content .list-group-item a{
    list-style: none;
    margin-top: 15px ;
    margin-bottom: 0px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color:rgb(134, 35, 35);
    text-decoration: none;  
}

 .list-group-item .icon{
    /* width: 19%;  */
    height: 57px;
    background-color: #e9e0e0;
    border-radius: 50%;
    float: right;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 7px;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    font-weight: 600;   
}

.list-group-item .sss{
    width: 70%;
    float: right;
    margin-right: 3px;
 

        
    }
    a.rrr{
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        margin: 15px;
        text-decoration: none;
    }

.News-content{
    overflow: hidden;

}

/************************************ End News *******************************/

/************************************ Start footer ***************************/

.footer{
    position: relative;
    background: url(../img/patt\ \(1\).png) no-repeat center center;
    background-size: cover;
    background-color: #8d183d;
}

footer{
    /* width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden; */
    /* margin-top: 0;
    padding: 0 0; */
}


.footer-item{
    /* margin: auto; */
    /* padding-top: 25px; */
    /* text-align: center;  */
    /* float: left;  */
    /* color: #fff;    */
}

.footer-item.margin{
    margin: 0 5%;
}

.footer-item h2{
    /* padding: 10px 0;
    font-size: 18px;
    font-weight: 600; */
}

/* .footer-item h3{
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
} */

.footer-item i{
    margin: 0 10px;
}

.copyright-content{
    color: #8d183d;
    font-size: 18px;
    padding: 1.5rem 0;
    font-weight: 400;
    position: relative;
    /* z-index: 1; */
    background-color: #e9e0e0;
    text-align: center;
}

/************************************ End footer *******************************/


/******************************************* section-Team *******************************************/
.Team-content{
    /* background-color: #5f5d5d; */
    /* ackground-color: #e9e0e0; */
}

.Team{
    background-color: #e9e0e0;
   
}

.Team-item{
    width: 33.3%;
    height: auto;
    position: relative;
    /* background-color: #F4F4F4; */
    padding: 30px 15px;
    text-align: center;  
    float: left;  
    /* border: 1px solid #8d183d;; */
    
}

.Team-img{
    position: relative;
    width: 100%;
    margin: auto;
    /* margin-top: 20px; */
    border-radius: 10px;
}

.Team-item .Team-img .Team-img{
    background-size: cover;
    width: 100%;
    /* margin-bottom: 20px; */
    /* margin-bottom: 20px; */
}

.Team-item .Team-overley{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.Team-item:hover .Team-overley{
    visibility:visible;
    opacity: 1;
}

.Team-overley  a{
    display: block;
    text-decoration: none;
    background-color: #9192d6;
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.Team-overley  a i{
    display: block;
    font-size: 25px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.Team-info .Team-name{
    margin: 15px 0;
    color: rgb(134, 35, 35);

}
.Team-info .Team-job{
    margin-bottom: 20px;
    color: rgb(134, 35, 35);

}

.top-to-bottom-affectt{
    position: relative;
}

.top-to-bottom-affectt::after{
    position: absolute;
    content: "";
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    transition: height 0.6s;
    opacity: 0;
}

.top-to-bottom-affectt:hover:after{
    height: 100%;
    height: 100%;
    opacity: 0.5;
}
.Team-item.top-to-bottom-affectt{
    z-index: 1;
}

.top-to-bottom-affect-Team:hover i{
    background-color: #6195ff;
}


.top-to-bottom-affect-Team{
    position: relative;
}

.top-to-bottom-affect-Team::after{
    position: absolute;
    content: "";
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    transition: height 0.6s;
    opacity: 0;
}

.top-to-bottom-affect-Team:hover:after{
    height: 100%;
    height: 100%;
    opacity: 0.5;
}

/* .Team-item.top-to-bottom-affect-Team{
    z-index: 1;
} */

.top-to-bottom-affectt:hover .Team-job {
   color: rgb(111, 0, 255);
}

/******************************************* section-END-Team ***************************************/

/************************************ department *******************************/


    .department {
        width: 100%;
        height: auto;
        margin: auto;
        position: relative;
        cursor: pointer;
        clip-path: url(../img/logo-alt.webp);
    }
    
    .department-item.margin{
        margin: 30px 1%;
    }
    
    .department-des-title{
        color: #8a1739;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        padding-top: -40px;
        margin: auto;
    }
    
    .department-item{
        width: 24%;
        float: left;
        border-radius: 20px;
        transform-style: preserve-3d;
        transition: all 1s;
        padding: 1.5%;
        margin: 30px 0;   
    }
    
    .rami-3d{
        width: 100%;
        position: relative;
        backface-visibility: hidden;
    }
    
    .department-img{
        position: absolute;
    }

    .department-img img{
        width: 90%;
        height: 210px;
        background-size: cover;
        border-radius: 50px;   
        position: absolute; 
        box-shadow: 0 0 10px 0 rgb(230, 169, 169);
    }
    
    .department-img  h2{
        text-align: center;
        margin: 220px 18%;
        padding: 4px;
        font-size: 15px;
    }

    .department-img-title{
        color: #8d183d;
        background-color: rgba(138, 48, 48, 0.2);
        position: absolute;
        border: 0.5px solid #ffffff;
        border-radius: 20px;
    }
    
    .department-content{
        width:100%;
        height: 280px;
        background-color: #8d183d;
        transform: rotateY(180deg);
        border: 0.5px solid #ffffff;
        border-radius: 20px;
        padding: 38px 0;
    }
    
    .department-item:hover{
        transform: rotateY(180deg);
    }

    .department-titel{
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        padding: 20px;
        color: rgb(255, 255, 255);
    }
    
    .department-des ,.rrr{
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        text-align: right;
        padding: 0 15px;
        color:rgb(255, 255, 255);
        margin-bottom:20px;
    }
    
    .department-item i{
        width: 70px;
        height: 70px;
        font-size: 100px;
        color: #ceaaaa;
    }
    
    
    .department-item:hover{
        box-shadow: 2rem 2rem 3rem rgba(138 48 48 /50%);
    }
    



    .social-links{
        margin-top: 10%;
        height: 73vh;
        margin-left: 40%;
    }

    .social-links .nav-link{
        margin: 15px 0px;
        position: relative;
    } 