* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-family: 'Cairo', sans-serif;
/* perspective: 600px; */


}


body {
    font-size: 14px;
    font-weight: 400;
    /* background-color: #e9e0e0; */
    background-color: #ffffff;
/* perspective: 600px; */


}

.section-header .section-title{
    /* font-size: 35px; */
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgb(134, 35, 35);
    text-align: center;
    font-weight: 700;
}

.stories .section-header .line{
    display: block;
    width: 50px;
    height: 5px;
    /* background-color: #8a1739; */
    background-color: #8d183d;;
    margin:  0 auto 0 auto;
    /* margin-bottom: 70px; */
}

.clear{
    clear: both;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.pd-y{
    padding: 100px 0;  /** بعمل Padding من top و pottom **/
    
}

    /************************************ Header *******************************/


.header {
    width: 100%;
    height: 150px;
    background-color: #e9e0e0;
    position: fixed;
    z-index: 100;
}

.max-header {
    width: 100%;
    height: 50px;
    /* background-color: rgb(138, 48, 48); */
    background-color: #8d183d;
    box-shadow: 0 0 50px 0 rgb(204, 202, 202);
}

.icon-header {
    width: 15%;
    height: 50;
    margin: 0 50px 0 0px;
    padding: 8px;
    float: right;
}


.header-phon {
    padding: 0px;
    float: right;
    text-align: right;
}



.icon-header li i {
    color: rgb(255, 255, 255);
    font-size: 25px;
    float: left;
    padding: 6px 20px;
    border-left: 1px solid #fff;
}

.header-contact i {
    color: rgb(255, 255, 255);
    font-size: 25px;
    float: left;
}


.icon-header li {
    display: inline-block;
    width: 50px;
}


.header-phon {
    color: aliceblue;
    float: right;
}

.header-contact span {
    text-align: right;
    padding: 10px 30px;
    color: #fdfdfd;
    font-size: 15px;
    font-weight: bold;
}


.header-job button {
    width: 10%;
    height: 40px;
    float: left;
    margin: 5px 50px;
    border-radius: none;
    border: none;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: none;
}

 .header-job button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;

}

.header-login button {
    width: 10%;
    height: 40px;
    float: left;
    margin: 5px 0;
    border-radius: none;
    border: none;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: none;
}

 .header-login button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;

}

    /************************************ Min-Header *******************************/


     /************************************ test slider *******************************/

     /* .Slider{
        width: 100%;
        margin: auto;
        background-color: #e9e0e0;
       padding-top: 150px;
       border-radius: 20px;
       
       
     }

     .Slider-content{
        width:1100px;
        overflow: hidden;
        border-radius: 20px;
        border:3px solid #8a1739;
     }

     .Slider-img{
        width: 100%;
        list-style: none;
        border-radius: 20px;
        
        
        
     }
     .Slider-img img{
        width:1100px;
        height: 580px;
        border-radius: 20px;
     }

     .Slider-content ul{
        list-style: none;
        width: 5500px;
        position: relative;
        animation: sliding 10s ease-in-out infinite;
        
        
     }
     .Slider-content li{
        float: left;
        
     }

     @keyframes sliding{
    0% {
            right: 0;
        }
    
        10% {
            right: 1100px;
        }
    
        30% {
            right: 2200px;
        }
    
        50% {
            right: 3300px;
        }
    
        70% {
            right: 4400px;
        }
    
        90% {
            right: 5500px;
        }
     } */

      /************************************ test slider *******************************/

.continer{
    width: 65%;
    margin: auto;

    /* background-color: aqua; */
     /* background-color: #e9e5e5; */
}

.min-header {
    width: 100%;
    margin: auto;
    /* background-color: blueviolet;  */
    /* position: absolute; */
}


.content-logo {
    width: 20%;
    height: 100px;
    float: right;
    /* background-color: rgb(226, 43, 43);  */
     text-align: center;
   /* display: block; */
    /* padding: 20px 20px; */
}

.content-logo .logo {
    height: 100;
    text-align: center;

}

.content-logo .logo  img{

    width: 70px;
    height: 70px;
}

.header .nav {
    width: 80%;
    height: 100px;
    float: right;
    /* background-color: rgb(15, 2, 2);  */
    /* display: block; */
    text-align: right;
    padding: 13px 20px;

}

.header .nav li {
    text-align: right;
    list-style: none;
    display: inline-block;

}

.header .nav li a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 22px 10px;
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: rgb(134, 35, 35);

}


.header .nav li a:hover {
    display: block;
    background-color: rgb(207, 165, 165);
    border-radius: 10px;
    padding: 22px 10px;
}

    /************************************ Home *******************************/


.home {
    height: 100vh;
    background-image: url(../img/g1mtv.jpeg);
    background-size: cover;
    position: relative;
}

.home-content {
    width:35%;
    position: absolute;
    /* خرجت العنصر خارج اطار الصفحة  */
    top: 60%;
    /* */
    left: 30%;
    /* */
    transform: translate(-50%, -50%);
    /* */
    text-align: center;
    background-color: rgb(148, 134, 134, 0.5);
    padding: 50px;
    border-radius: 3%;


}

.home-content h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    opacity: 0.9;
    text-transform: uppercase;

}

.home-content span {
    color: rgb(252, 252, 252);
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
    text-transform: capitalize;
}

    /************************************ department *******************************/


.department {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    cursor: pointer;
    /* z-index: 1; */
    /* box-shadow: 2rem 2rem 3rem rgba(138 48 48 /10%); */
}

.content-department{

}
.department-des-title{
    /* color: #8a1739;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding-top: -40px;
    padding: 20px 30px;
    background: rgba(134, 35, 35, 0.3);
    border-radius: 20px;
    margin: 100px ;
    padding: 30px 0;
    width: 60%;
    height: 50%;
    margin: auto; */

}

.department-item{
    width: 30%;
    /* background-color: #11C3F5;    */
     background-color: #92304f;

    /* border: 3px solid #8d183d; */
    float: left;
    margin-top: -150px ;
    border-radius: 20px;

    /* display: block; */
    /* z-index: 2; */

    padding: 20px;
    box-shadow: 2rem 2rem 3rem rgba(138 48 48 /20%);
    transition:  0.2s ease;
    /* transform-style: preserve-3d; */
    
    /* transition: all 1s; */
    /* padding: 0 30px; */
    /* padding: 1.5%; */
    /* margin-bottom: 5px; */
    

    
}
.content-department .department-item.margi {
    margin: -150px 5% 0 5%;
}

/* .rami-3d{
    width: 100%;
    position: relative;
    backface-visibility: hidden;

} */

/* .department-img{
    position: absolute;
    
    

} */
/* .department-img img{
    width: 90%;
    height: 210px;
    background-size: cover;
    border-radius: 50px;   
    position: absolute; 
    box-shadow: 0 0 10px 0 rgb(230, 169, 169);
    

} */

/* .department-img  h2{
    text-align: center;
    margin: 220px 18%;
    padding: 5px;
} */
.department-img-title{
    color: #8d183d;
    background-color: rgba(138, 48, 48, 0.2);
    position: absolute;
    /* padding: 10px 0; */
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    /* box-shadow: 2rem 2rem 3rem rgba(230, 26, 70, 0.2); */

}

.department-content{
    width:100%;
    height: 280px;
    background-color: #8d183d;
    transform: rotateY(180deg);
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    padding: 38px 0;
}


.department-titel{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);

}

.department-des ,.rrr{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    text-align: right;
    padding: 0 30px;
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
    color:rgb(255, 255, 255);
    margin-bottom:20px;
}

.department-item i{
    width: 70px;
    height: 70px;
    font-size: 100px;
    color: #ceaaaa;
}


.department-item:hover{
    box-shadow: 2rem 2rem 3rem rgba(138 48 48 /50%);
}


.Services{
        background-color: #e9e0e0;;
       
    }

    .Services-item{
        width: 50%;
        float: right;
    }
    .Services-item .section-header{
        text-align: right;
    }
    
    .Services-item .section-header .line{
        margin: 0 0 0 700px;
        
    }
    
    .Services-item .section-title{
        font-size: 20Px;
            font-weight: bold;
            color: rgb(138, 48, 48);
            text-transform: capitalize;
            font-size: 1.5rem;
            color: rgb(134, 35, 35);
            font-weight: 700;
            padding: 0 25px;

    }

    .Services-item-des{
        color: #999;
        line-height: 1.5;
        margin-bottom: 15px;
        text-align: right;
        padding-top: 30px;
        font-size: 16px;
        /* font-weight: bold; */
        padding-bottom: 20px;
    }
    
    .Services-list{
        list-style: none;
    }
    
    .Services-list li{
        margin-bottom: 10px;
        color:#999;
        text-align: right;
        font-size: 17px;
        /* padding-top: 20px; */
    }
    
    .Services-list li i{
        border: 1px solid #11C3F5;
        color: #11C3F5;
        /* padding: 6px 4px; */
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        text-align: right;
        }
        
        .Services-item-img img {
            width: 100%;
        }
        
        .Services-bollets {
            list-style: none;
            text-align: center;
        }
        
        .Services-bollets li {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #6195ff;
            margin: 10px 4px;
            border-radius: 50%;
            font-size: 70px;
            font-size: 1.2rem;
            font-weight: 400;
        }
        
        .Services-bollets li.active {
            background-color: #8a1739;
        }
        
        .Services-bollets li:hover {
            background-color: #8a1739;
        }


    /************************************ Success stories *******************************/

        .stories{
            /* background-color: #fcf2f2; */
            position: relative;
        }

        .content-stories{
            width: 100%;
        }

        .stories-video{
            width: 50%;
            /* height: 300px; */
            margin: auto;
            /* background-color: aqua; */
            float: left;
           
            
        }

        iframe{
            width: 100%;
            /* height: 540px; */
            /* padding: 30px; */
            margin: 15px  -20px;
            border-radius: 10px;
        }

        .stories-title{
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            /* padding-bottom: 20px; */
        }


        .stories-text{
            width: 50%;
            margin: auto;
            /* background-color: #8a1739; */
            float: right;
            position: relative;
            display: block;
            color: rgb(138, 48, 48);
            /* border: 1px solid #8a1739; */
            /* padding: 0 10px; */
            
        }

        .stories-text .stories-item{
            width: 45%;
            margin: auto;
            /* background-color: #8a1739; */
            float: left;
            margin: 10px  13px;
            /* padding: 20px; */
            list-style: none;
            /* position: absolute; */
            /* border: 1px solid #e9e5e5; */
            border: 2px solid #8d183d;;
            border-radius: 10px;

        }

        .stories-item .stories-item-img{
            width: 100%;
            background-size: cover;
            background-attachment: fixed;
            padding: 10px;
            border-radius: 30px;

        }

        /* .stories-item{
            text-align: center;
            padding:20px 5px;
            float: left;
        } */
        /* .stories-list .margin{
            padding: 0 30px;
        } */

        /* .stories-img{
            width: 100%;
        } */

        .stories-item .stories-item-title{
            text-align: center;
        }

        .stories-item-des{
            text-align: center;
            padding-bottom: 15px;
        }





    /************************************ News *******************************/

.News{
    background-color:  #e9e0e0;
}

.News-item{
    width: 30%;
    height: auto;
    float: left;
    border: 1px solid #fffafa;
    border-radius: 20px;
    text-align: right;
    /* margin: 0 10px; */
    background-color: #ffffff;
    /* position: relative; */
}


.News-content .News-item.margin{
    margin: 0 3%;
}

.News-content .News-title {
    border-right: 5px solid #8a1739;
    /* display: inline-block; */
    /* display: flex !important; */
    /* font-family: Tajawal, sans-serif !important; */
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 15px;
    font-size: 17px;
    color: rgb(134, 35, 35);
    font-weight: 700;
    
}

.News-content .list-group-item{
    list-style: none;
    margin-top: 15px ;
    display: block;
    font-size: 1rem;
    font-weight: 400;


    
}

.News-content .list-group-item a{
    list-style: none;
    margin-top: 15px ;
    margin-bottom: 0px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color:rgb(134, 35, 35);
    text-decoration: none;


    
}

.News-content .list-group-item .icon{
width: 20%;
height: 70px;
background-color: #e9e0e0;
border-radius: 50%;
float: right;
margin-top: 0px;
margin-left: 3px;
margin-right: 7px;
text-align: center;
padding: 25px 0;

font-size: 12px;
font-weight: 600;


    
}

.News-content .list-group-item .sss{
    width: 75%;
    float: right;
    margin-right: 5px;
 

        
    }

    a.rrr{
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        margin: 15px;
        text-decoration: none;
    }

.list-group {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin-bottom: 0;
    
}
/* .News-content{
    overflow: hidden;

} */





.footer{
    background-color: #8d183d;
    /* background-image: url(../img/g1mtv.jpeg) ;
    background-size: cover;
    position: relative;
    background-attachment: fixed; */
}


.footer-content{
    /* background-color: #8d183d; */
    /* background-color: rgb(148, 134, 134, 0.5); */

    
}

.footer-item{
    /* display: inline-block; */
    width: 30%;
    margin: auto;
    padding-top: 25px;
    /* background-color: #f70000; */
    /* background-color: #8d183d; */
    text-align: center; 
    float: left; 
    color: #fff;
    
   
}

.footer-item.margin{
    margin: 0 5%;
}

.footer-item h2{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.footer-item h3{
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
}

.footer-item i{
    margin: 0 10px;
}

.copyright{
    /* background-color: #e9e0e0; */


    
}

.copyright-content{
    /* background-color: #f00c0c;
    margin-top: 300px 0;
    padding:20px 0;
    text-align: center; */
    margin-top: 25px;
    color: #8d183d;
    font-size: 18px;
    padding: 1.5rem 0;
    font-weight: 400;
    position: relative;
    z-index: 1;
    background-color: #e9e0e0;
    text-align: center;
}

.copyright-itme p{
    /* padding-top:200px; */
    /* margin-top: 100px 0; */
    /* margin-top: 300px 0;
    background-color: #11C3F5; */
}

















































































